<h1>Réinitialisation du mot de passe</h1>

<%= form_with(model: @user, url: password_reset_path(token: params[:token]), method: :post) do |form| %>
  <%= render partial: "shared/form_errors", locals: {form: form} %>
  <div>
    <%= form.label(:password) %>
    <%= form.password_field(:password) %>
  </div>
  <div>
    <%= form.label(:password_confirmation) %>
    <%= form.password_field(:password_confirmation) %>
  </div>
  <div>
    <%= form.submit("Réinitialiser le mot de passe") %>
  </div>
<% end %>
